html, body, #root, .App, #content {
  width: 100%;
  height: 100%;
}

html {
  background-color: aliceblue;
}


#loading {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#logo {
  z-index: 1500;
  font-size: 85px;
}

#littleLogo {
  font-size: 40px;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#navigation {
  width: 100%;
}

#browse {
  margin-top: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#navButtons {
  width: 67vw;
  display: flex;
  justify-content: space-between;
}

#rising, #top, #new, #hot, #relevance, #comments{
  margin-right: 12px;
}

#next {
  margin-left: 12px;
}

.button {
  width: 85px;
  height: 30px;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
  border-style: solid solid solid;
  border-color: white;
  border-width: 0.5px 0.5px 0px 0.5px;
  text-align: center;
  box-shadow: 2.3px 0px 0px 0px black;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  box-shadow: black 4px 3px 1.5px 0.2px;
  position: relative;
  right: 3px;
  bottom: 3px;
}


#searchbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

#searchbar input {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  font-size: 20px;
}

#searchbar button {
  background-color: transparent;
  margin-left: 10px;
  border: 0px;
}

#searchbar button i:hover {
  cursor: pointer;
}

img {
  max-width: 95%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iFrame {
  width: 65vw;
  height: fit-content;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 2.3px 0px 0px black;
  background-color: white;
  margin-bottom: 10px;
  padding: 0px 1vw 22.178px 1vw;
  display: flex;
  justify-content: center;
}

.post {
  display: grid;
  border-radius: 0px 0px 6px 6px;
  width: 65vw;
  box-shadow: 2.3px 0px 0px black;
  margin-bottom: 10px;
  padding: 0px 1vw 22.178px 1vw;
  background-color: white;
}

.info {
  justify-self: center;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 95%;
}

.info span {
  color: #787c7e;
  font-size: 12px;
  margin-top: 20px;
}

.visual-content {
  display: flex;
  justify-content: center;
}

.statistics {
  display: flex;
  justify-content: center;
  width: 95%;
  justify-self: center;
  margin-top: 15px;
}


#centerstats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.fa-regular.fa-thumbs-down {
  color: red;
  font-size: 20px;
  transform: scaleX(-1);
  margin: 0px 6px 0px 4px;
}

.fa-regular.fa-thumbs-up {
  color: rgb(25, 188, 25);
  font-size: 20px;
  margin: 0px 6px 0px 4px;
}

#suggestions {
  display: flex;
  justify-content: center;
}

#subreddits {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.subreddit {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background-color: #33a8ff;
  color: white;
  width: 12vw;
  aspect-ratio: 1 / 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}

.subreddit:hover {
  cursor: pointer;
}

.memberCount {
  text-align: center;
  font-size: 16px;
  margin: 5px 0px;
}

.subreddit h3,
.subreddit h4,
.subreddit h5 {
  margin: 5px;
}

#AskReddit {
  transform: translate(-170%);
}

#memes {
  transform: translate(-290%);
}

#gaming {
  transform: translate(70%);
}

#news {
  transform: translate(190%);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.commentsSection {
  display: none;
}

.commentsButton {
  cursor: pointer;
}